<h1>Edit a Job</h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title %>
<%= f.input :description %>
<%= f.input :contact_email %>
<%= f.input :wage_lower_bound %>
<%= f.input :wage_upper_bound %>


  <%= f.submit "Submit" %>
<% end %>
