<div class="col-md-10 col-md-offset-1 job-content">

  <!--=== List of Jobs ===-->
  <div class="row">
    <% if @jobs.length > 0 %>
    <% @jobs.each do |job| %>
    <div class="col-md-9 col-xs-12 job-box">
      <!--=== The info about the job ===-->
      <div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><%= link_to(job.title, job_path(job), target: "_blank" )%></h3>
          <span><%= job.created_at.to_formatted_s(:long_ordinal)%></span>
        </div>
        <div class="info-mid">
          <%= job.wage_lower_bound %>
          ~
          <%= job.wage_upper_bound %>
        </div>

        <div class="info-bot">
          <span class="category"><span class="<%= job.category.icon %>"> <span style="font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif"> <%= job.category.name %></span></span>
        </div>
      </div>
      <!--===== The info about the company  -->
      <div class="col-md-6 col-xs-12 company">
        <div class="company-top">
          <span><%= link_to(job.company, job_path(job), target: "_blank")%></span>
          <% if current_user && current_user.is_member_of?(job) %>
          <%= link_to remove_job_path(job), method: :post do %>
          <span class="fa fa-star"></span>
          <% end %>
        <% else %>
          <%= link_to add_job_path(job), method: :post do %>
          <span class="fa fa-star-o"></span>
          <% end %>
        <% end %>
        </div>
        <div class="company-mid">
          <span class="fa fa-envelope"></span>
          <span><%= job.contact_email %></span>
        </div>
        <div class="conpany-bot">
          <span class="fa fa-map-marker"></span>
          <span><%= job.location.name%></span>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="col-md-9 col-xs-12 no-job-data">
      <h2>Ohps, There is no job yet.</h2>
    </div>
    <% end %>

  </div>

</div>

<!-- The pagination -->
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
  </div>
</div>

<!-- <div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    Sort by <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("Lowerbound", jobs_path(order: "Lowerbound"))%></li>
    <li><%= link_to("Upperbound", jobs_path(order: "Upperbound"))%></li>
    <li><%= link_to("Time", jobs_path(order: "Time"))%></li>
  </ul>

</div>

<table class="table table-boldered">
  <thead>
    <tr>
      <td>Job title</td>
      <td>Lower bound of salary</td>
      <td>Upper bound of salary</td>
      <td>Publish time</td>
    </tr>
  </thead>

  <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to(job.title, job_path(job))%></td>
        <td><%= job.wage_lower_bound %></td>
        <td><%= job.wage_upper_bound %></td>
        <td><%= job.created_at.to_formatted_s(:long_ordinal)%></td>
      </tr>
  <% end %>
</table> -->
