<body data-spy="scroll" data-target=".nav-top">

  <!--====== The jumbornton  ===========-->
  <section class="intro">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="intro-content">
          <h1>Rocking Job</h1>
          <p>
            This s place where all the dreaming job will be.
          </p>
          <a class="btn btn-primary-welcome" href="jobs" role="button">
            Let's Go</a>
        </div>
      </div>
    </div>
  </section>
</body>
<!--======  End of The jumbornton  =======-->

<!--======== The Introducion of this website  =======-->
<section id="feature" class="our-experts">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h2 class="section-title">Here is the opportunity</h2>
          <div class="short-line"></div>
          <p class="index-content">
            This website is built by amazing Jack number two
            <br>
            Jack has designed solutions that span social, mobile and the cloud to solve the challenges of casting the widest possible net and making the right connection with the right candidate, in the right context, at the right time. In other words, we can
            help you reach, connect with and hire the very best people.
          </p>
          <%= image_tag("feature.jpg")%>
        </div>
      </div>
    </div>
  </div>
</section>

<!--======== End of The Introducion of this website  =======-->

<!--====The advantage of our site ======-->
<section id="service" class="what-we-do">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="section-title">
          Here are our advantages</h2>
        <div class="short-line"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="do-box">
              <%= image_tag("index_s3_1.png")%>
              <h3>First</h3>
              <p>Advertise your jobs and promote your employer brand to the candidates you want.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="do-box">
              <%= image_tag("index_s3_2.png")%>
              <h3>Second</h3>
              <p>Advertise your jobs and promote your employer brand to the candidates you want.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="do-box">
              <%= image_tag("index_s3_3.png")%>
              <h3>Third</h3>
              <p>Advertise your jobs and promote your employer brand to the candidates you want.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--====End of The advantage of our site ======-->

<!--==== The Job categories ======-->
<section id="genius" class="our-experts">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="row" style="padding-bottom: 10px;">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="section-title">The most wanted</h2>
            <div class="short-line"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_01.png")%>
              </div>
              <div>
                <h3>Technology</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_02.png")%>
              </div>
              <div>
                <h3>Product</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_03.png")%>
              </div>
              <div>
                <h3>Design</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_04.png")%>
              </div>
              <div>
                <h3>Operation</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_05.png")%>
              </div>
              <div>
                <h3>Marketing</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_06.png")%>
              </div>
              <div>
                <h3>Sales</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_07.png")%>
              </div>
              <div>
                <h3>Office</h3>
                <p>2000+ jobs</p>
              </div>
            </div>
            <div class="col-md-3 category-list">

              <div class="expert-box">
                <%= image_tag("category_08.png")%>
              </div>
              <div>
                <h3>All Jobs</h3>
                <p>50000+ jobs</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--==== End of The Job categories ======-->

<!--==== User feed back ======-->
<section id="testimonial" class="talk-about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
        <h2 class="section-title">User Feed Back</h2>
        <div class="short-line"></div>
        <div id="talk-about-us" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
            <li data-target="#talk-about-us" data-slide-to="1"></li>
            <li data-target="#talk-about-us" data-slide-to="2"></li>
            <li data-target="#talk-about-us" data-slide-to="3"></li>
          </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <p>This the website which provided me the best job I've never dreamed of</p>
            <%= image_tag("user_1.png")%>
            <strong>William, Indoor Designer</strong>
          </div>
          <div class="item">
            <p>This the website which provided me the best job I've never dreamed of. Sure it does</p>
            <%= image_tag("user_2.png")%>
            <strong>Howard, Indoor Designer</strong>
          </div>
          <div class="item">
            <p>This the website which provided me the best job I've never dreamed of.
            </p>
            <%= image_tag("user_3.png")%>
            <strong>Rose, Worker</strong>
          </div>
          <div class="item">
            <p>This the website which provided me the best job I've never dreamed of. Sure it does</p>
            <%= image_tag("user_4.png")%>
            <strong>Marry, Worker</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--==== End of User feed back ======-->

<!--==== Partnership ======-->

<section id="brand" class="our-brand">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h2 class="section-title">Our Partnership</h2>
          <div class="short-line"></div>
          <%= image_tag("google.png")%>
          <%= image_tag("instagram.png") %>
          <%= image_tag("facebook.png") %>
          <%= image_tag("airbnb.png") %>
          <%= image_tag("amazon.png") %>
          <%= image_tag("flickr.png") %>
          <%= image_tag("twitter.png") %>
          <%= image_tag("linkedIn.png") %>
        </div>
      </div>
    </div>
  </div>
</section>

<!--==== End of Partnership ======-->

<!--=== Conclusion of Starting now  -->
<section class="support">
  <div class="container">
    <div class="row">
      <a class="btn btn-primary-welcome" href="jobs" role="button">Start Now</a>
    </div>
  </div>
</section>

<!--=== End of Conclusion of Starting now  -->
</body>
</html>
