
<div class="row job-resume-box">


<div class="col-md-6 col-md-offset-3 ">
  <h3><span class="fa fa-envelope-o"></span> Upload Resume</h3>
  <hr>
  <div class="job-info-box">
    <h3><span class="fa fa-tag"></span> <%= @job.title %> <span class="company"> / <%= @job.company %> </span></h3>
    <p>
      <span class="wage"> <%= @job.wage_lower_bound %> ~ <%= @job.wage_upper_bound %> </span> / <span><span class="fa fa-map-marker"> </span> <%= @job.location.name %> </span> / <span><span class="<%= @job.category.icon %>"></span> <%= @job.category.name%> </span>
    </p>
    <p class="created"> <%= @job.created_at.to_formatted_s(:long_ordinal)%> /  <span class="website"> Published at Rocking Job</span></p>

  </div>
  <hr>
  <div>
    <%= simple_form_for [@job,@resume] do |f| %>
    <div >
      <%= f.input :content, label: false, placeholder: "Please tell us about your resume.", input_html: { class: "resume-content"} %>
      <%= f.input :attachment, label: "Upload Resume", input_html: { class: "resume-attachment" }%>

    </div>
    <div class="form-actions-resume">
      <%= f.submit "Submit", disable_with: "Submiting....", class: "button" %>
    </div>
    <% end %>
  </div>
</div>
</div>
