<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-2 col-xs-4">
            <h4>For Job Seekers</h4>
            <ul class="list-unstyled">
              <li><a href="#">Find Jobs</a></li>
              <li><a href="#">Upload Resume</a></li>
              <li><a href="#">Site Map</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>For Employers</h4>
            <ul class="list-unstyled">
              <li><a href="#">Post Jobs</a></li>
              <li><a href="#">Search Resumes</a></li>
              <li><a href="#">Advertise with us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-xs-4">
            <h4>About Us</h4>
            <ul class="list-unstyled">
              <li><a href="#">About Monster</a></li>
              <li><a href="#">Work for Monster</a></li>
              <li><a href="#">Partner with Us</a></li>
              <li><a href="#">Monster International</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-md-offset-1 col-xs-12 footer-box">
            <div>
              <a href="#s"><%= image_tag("link_facebook.png") %></a>
              <a href="#s"><%= image_tag("link_google-plus.png") %></a>
              <a href="#s"><%= image_tag("link_linkedin.png") %></a>
              <a href="#s"><%= image_tag("link_twitter.png") %></a>
            </div>
            <div class="foot-content">
              <%= image_tag("wechat.png") %> Darcy_70
              <%= image_tag("slack.png") %> Darcy_70 <br />
              <%= image_tag("logdown.png") %> <a href="http://darcy-70.logdown.com/">http://darcy-70.logdown.com/</a>
            </div>
          </div>
        </div>
        <hr>
        <p>Designed By <a href="http://darcy-70.logdown.com" target="_blank">Darcy</a> | Copyright ©2017 darcy
      </div>
    </div>
  </div>
</footer>
