<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Job Listing
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if !current_user %>
          <!-- <li><%= link_to("Register", new_user_registration_path)%></li> -->
        <li>
          <a href="#" data-toggle="modal" data-target="#signup-modal">Sign up</a>
        </li>
        <!-- <li><%= link_to("login", new_user_session_path)%></li> -->
        <li>
          <a href="#" data-toggle="modal" data-target="#login-modal">Log in</a>
        </li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hi!,
            <%= current_user.email%>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.is_admin %>
            <li><%= link_to("Admin Panel", admin_jobs_path)%></li>
            <% end %>
            <li><%= link_to("Sign out", destroy_user_session_path, method: :delete)%></li>
          </ul>
        </li>
        <% end %>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<!-- Popup window -->
  <!-- Sign in window -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog" role="document">
  <div class="loginmodal-container">
    <h2 class="text-center" style="margin-bottom: 5rem; text: bold;">Log in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">

      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
          <i class="fa fa-envelope fa-lg fa-fw"></i>
        </span>
        <%= f.input :email, required: true, autofocus: true, placeholder: "Your Email", label: false %>
      </div>
      <br>

      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
          <i class="fa fa-lock fa-lg fa-fw"></i>
        </span>
        <%= f.input :password, required: true, label: false, placeholder: "Your Password"%>
      </div>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
    <% end %>
  </div>

</div>

</div>
  <!-- Sign Up window -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
  <div class="loginmodal-container">
    <h2 class="text-center" style="margin-bottom: 5rem; text: bold;">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">

      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
          <i class="fa fa-envelope fa-lg fa-fw"></i>
        </span>
        <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "Your Email" %>
      </div>
      <br>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
          <i class="fa fa-lock fa-lg fa-fw"></i>
        </span>
        <%= f.input :password, required: true, label: false,placeholder: "Your Password", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length )%>
      </div>
      <br>
      <div class="input-group margin-bottom-sm">
        <span class="input-group-addon">
          <i class="fa fa-lock fa-lg fa-fw"></i>
        </span>
        <%= f.input :password_confirmation, required: true, label: false,placeholder: "Repeat Your Password" %>
      </div>
    </div>
    <br>

    <div class="form-actions" style="margin-top: 2rem;">
      <%= f.button :submit, "Sign up"%>
    </div>
    <% end %>
  </div>

</div>

</div>
