<header id="home" data-spy="scroll" data-target="#top-nav" >
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="navbar navbar-default navbar-fixed-top default-menu menu-4" role="navigation">
        <div class="container", style="position: relative;">
          <div class="navbar-header">
            <!--=== Mobile site ====-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-4" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!--==== Logo =====-->
            <%= link_to root_path, class: "navbar-brand default-logo scroll" do %>
            <%= image_tag("arrow.png", class: "logo_img") %> Rocking
            <% end %>
          </div>
          <div class="collapse navbar-collapse top-nav" id="menu-4">
            <ul class="nav navbar-nav navbar-right">
              <li class="divider" role="separator"></li>
              <% if !current_user %>
                <li><%= button_to("Sign up", new_user_registration_path, method: :get , class: "btn btn-default navbar-btn navbar-text") %></li>
                <li><%= button_to("Log in", new_user_session_path, method: :get , class: "btn btn-default navbar-btn navbar-text") %></li>
              <% else %>
                <li class="dropdown"></li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Hi,<%= current_user.name %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.is_admin?%>
                      <li><%= link_to("Empolyer Part", admin_jobs_path)%></li>
                      <li class="divider"></li>
                    <% end %>
                    <li><%= link_to("My Collections", account_collections_path)%></li>
                    <li><%= link_to("Resumes Submitted", account_resumes_path) %></li>
                    <li class="divider" role="separator"></li>
                    <li><%= link_to("Log out", destroy_user_session_path, method: :delete ) %></li>
                  </ul>
              <% end %>
            </ul>
            <!--=== Search ===-->
            <%= form_tag search_jobs_path, method: :get, class: "navbar-form navbar-right" do %>
            <div class="input-group search-box">
              <input type="text" name="keyword" value="<%= params[:keyword] %>" class="form-control" placeholder="Search Anything">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>
